@{
    ViewData["Title"] = "Home Page";
}

<!-- CSS -->
<style type="text/css">
    html,
    body {
        height: 100%;
    }

    body {
        background-image: url(https://64.media.tumblr.com/1c0ef3878f29562691ea8e4c2c4216ba/66be3f5a39c91cc9-65/s2048x3072/858d439c4e31e5af5139016e266e18ef9cfd6825.png);
        background-repeat: no-repeat;
        background-size: 100% 92%;
    }
</style>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
</body>
</html>